<!DOCTYPE html>
<html>
<head>
	<title>view todo</title>
	<style type="text/css">
	 	ul li {
	 		list-style: none;
	 	}
	</style>
</head>
<body>
	<div class="list_item">
		<ul>
			<li>
				<input type="checkbox" name="item" value="item1">Item 1<br>
			</li>
			<li>
				<input type="checkbox" name="item" value="item1">Item 2<br>
			</li>
			<li>
				<input type="checkbox" name="item" value="item1">Item 3<br>
			</li>
			<li>
				<input type="checkbox" name="item" value="item1">Item 4<br>
			</li>
		</ul>
	</div>
	<div class="">
		<input type="text" >
		<button>Add</button>
	</div>
</body>
</html>