body {
    font-family: helvetica-neue, sans-serif;
    color: black;
    opacity: 0.7;
}

input[type="text"], input[type="password"] {
    height: 2em;
    font-size: 1.2em;
    padding: 0.5em;
    width: 20em;
}

input[type="text"]:focus, input[type="password"]:focus {
    /*box-shadow: 0 0 5px #999999 ;*/
}



.login {
    margin: 0 auto;
    width: 30%;
    padding: 15px;
}

.username {
    margin-top: 30px;
    margin-bottom: 15px;

}

.password {
    margin-bottom: 15px;
}

.btnLogin, .btnRegister{
    /*margin-top: 15px;*/
    height: 3em;
    width: 19.3em;
    background-color: slategrey;
    border-color: gainsboro;
    border-style: solid;
    border-width: 1px;
    /*cursor: pointer;*/
    font-size: 1.25em;
    color: white;
    font-family: helvetica-neue, sans-serif;
}

.btnLogin:hover {
    /*background-color: darkgrey;*/
}

.list_item ul li {
    list-style-type:none;
    margin-bottom: 9px;
    word-wrap: break-word;
}

.list_item ul {
    padding-left: 0;
}


#category-block {
    float:left;
    width:30%;
    height:100%;
}

#item-block {
    float:right;
    width:65%;
    height:100%;
}

#main {
    margin-top: 30px;
}

#new-todo-title {
    width: 90%;
}

#register_result_status {
    width: 90%;
    font-size: 3em;
    text-align: center;
    margin-top: 1.5em;
    color: blue;
}

#register_result_message {
    width: 90%;
    text-align: center;
}

#register-link {
    margin: 20px;
    text-align: center;
}